.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}


.btn{
    margin: 20px;
    border-width: 2px;
}

#logoAP{
    width: 175px;
}

img{
    width: 35px;
    margin: 2px;
}

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
