<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#2E46F1'"
            [innerStrokeColor]="'#7A88F1'"
            [animation]="true"
            [animationDuration]="800"
            title="Html"
            [showSubtitle]="false"
            [showUnits]="false"
            [renderOnClick]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#2E46F1'"
            [innerStrokeColor]="'#7A88F1'"
            [animation]="true"
            [animationDuration]="800"
            title="Html"
            [showSubtitle]="false"
            [showUnits]="false"
            [renderOnClick]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#2E46F1'"
            [innerStrokeColor]="'#7A88F1'"
            [animation]="true"
            [animationDuration]="800"
            title="Html"
            [showSubtitle]="false"
            [showUnits]="false"
            [renderOnClick]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#2E46F1'"
            [innerStrokeColor]="'#7A88F1'"
            [animation]="true"
            [animationDuration]="800"
            title="Html"
            [showSubtitle]="false"
            [showUnits]="false"
            [renderOnClick]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#2E46F1'"
            [innerStrokeColor]="'#7A88F1'"
            [animation]="true"
            [animationDuration]="800"
            title="Html"
            [showSubtitle]="false"
            [showUnits]="false"
            [renderOnClick]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#2E46F1'"
            [innerStrokeColor]="'#7A88F1'"
            [animation]="true"
            [animationDuration]="800"
            title="Html"
            [showSubtitle]="false"
            [showUnits]="false"
            [renderOnClick]="false"
        ></circle-progress>
    </div>
</div>