<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="fotoPerfil">
        <img src="../../../assets/FotoPerfil.png" class="img-luid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Fernandez Fabrizio Joaquin</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi recusandae, placeat ad nihil odit vitae error porro consectetur excepturi, earum accusamus, doloribus debitis omnis quaerat tenetur. Atque aliquid repudiandae a!</p>
        </span>
    </div>
</div>
