<div class="row">
    <h1>Proyectos realizados:</h1>
    <div class="contenedor">
        <div>
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, iure pariatur ipsum tempora veritatis aspernatur placeat architecto esse dolor expedita commodi, aliquam vero, fugit repellendus earum nulla atque quaerat possimus.</p>
            <a class="btn btn-primary" href="https://getbootstrap.com/docs/4.0/components/buttons/" role="button">Abrir</a>
        </div>
        <div>
            <img src="">
        </div>
    </div>
</div>